@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.newscard--parent {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-block: 3rem;
    margin-inline: auto;
    max-width: 90%;
}

.newscard_container {
    border-radius: 1rem;
    box-shadow: 0px 0px 15px -5px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 26rem;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.newscard_image {
    flex-basis: 100%;
    overflow: hidden;
}

.newscard_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease;
}

.newscard_post--content {
    margin: 1rem;
    padding-inline: 0.5rem;
    text-align: start;
    max-height: 165px;

}

.newscard_heading h3 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #0072c6;
    display: -webkit-box;
    font-size: 20px;
    font-weight: 600;

}

.newscard_details p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-weight: 300;
    overflow: hidden;
    font-size: 14px;
}

.newscard_footer {
    display: flex;
    justify-content: space-between;
}

.newscard_date {
    font-weight: 600;
    color: gray;
}

.newscard_button {
    background-color: white;
    color: #34a853;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    padding: 1px;
    transition: 0.5s all;
}

.newscard_button:hover {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.pagination {
    display: flex;
    align-items: center;
    margin-block: 2rem;
}

.newscard_image img:hover {
    transform: scale(1.1);
}

.loading--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

/* media queries */
@media (max-width:1470px) {
    .newscard--parent {
        max-width: 90%;
        gap: 1rem;
    }
}

@media (max-width:960px) {
    .newscard--parent {
        max-width: 90%;
        gap: 1rem;
    }

    .newscard_container {
        width: 20rem;
    }
}