@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.blog_card--parent {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-block: 3rem;
    margin-inline: auto;
    max-width: 90%;

}

.blogcard_container {
    border-radius: 1rem;
    box-shadow: 0px 0px 15px -5px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    overflow: hidden;
    width: 26rem;
}

.blog_image {
    overflow: hidden;
}

.blog_image img {
    max-height: 250px;
    object-fit: cover;
    width: 100%;
    transform: scale(1);
    transition: transform 0.5s ease;
}




.blog_post--content {
    margin: 1rem;
    padding-inline: 0.5rem;
    text-align: start;

}

.blog_heading h3 {
    color: #0072c6;
    font-size: 24px;
    font-weight: 600;

}

.blog_details p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    font-weight: 300;
    overflow: hidden;
}

.blog_footer {
    display: flex;
    justify-content: space-between;
}

.blog_date {
    font-weight: 600;
    color: gray;
}

.blog_button {
    background-color: white;
    color: #34a853;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    padding: 1px;
    transition: 0.5s all;
}

.blog_button:hover {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.pagination {
    display: flex;
    align-items: center;
    margin-block: 2rem;
}

.blog_image img:hover {
    transform: scale(1.3);
}

/* media queries */
@media (max-width:1470px) {
    .blog_card--parent {
        max-width: 90%;
        gap: 1rem;
    }
}

@media (max-width:960px) {
    .blog_card--parent {
        max-width: 90%;
        gap: 1rem;
    }

    .blogcard_container {
        width: 20rem;
    }
}