.AboutUsTecHealth_navigator {
  text-align: center;
}
.AboutUsTecHealth_active:hover {
  cursor: pointer;
  color: #0072c6;
}
.AboutUsTecHealth_actives{
  color:  rgb(173, 173, 173);
}
.AboutUsTecHealth_whatis {
  text-align: center;
  padding: 20px 0px;
  font-weight: bold;
  font-size: 36px;
  color: #0072c6;
}
.AboutUsTecHealth_medulance {
  color: #34a853;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.AboutUsTecHealth_paragraph {
  text-align: center;
  font-size: 20px;
  padding: 0px 200px;
  margin: 0px;
}
.AboutUsTecHealth_historydiv {
  padding: 80px;
  display: flex;
}
.AboutUsTecHealth_history {
  display: inline-block;
  width: 60%;
  height: 260px;
  padding-right: 40px;
  box-sizing: border-box;
}
.AboutUsTecHealth_history_heading {
  font-weight: bold;
  padding-bottom: 10px;
  color: #34a853;
}
.AboutUsTecHealth_history_paragraph {
  margin: 0px;
}
.AboutUsTecHealth_video {
  display: inline-block;
  width: 40%;
  height: 260px;
}
.AboutUsTecHealth_iframe {
  border-radius: 30px;
}
@media screen and (max-width: 1000px) {
  .AboutUsTecHealth_paragraph {
    padding: 0px 120px;
    font-size: 18px;
  }
  .AboutUsTecHealth_historydiv {
    padding: 40px 100px;
    display: block;
  }
  .AboutUsTecHealth_history {
    width: 100%;
    padding-right: 0px;
  }
  .AboutUsTecHealth_video {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
  }
  .AboutUsTecHealth_iframe {
    width: 500px;
  }
}
@media screen and (max-width: 900px) {
  .AboutUsTecHealth_whatis {
    font-size: 30px;
  }
  .AboutUsTecHealth_paragraph {
    padding: 0px 80px;
  }
  .AboutUsTecHealth_historydiv {
    padding: 40px 60px;
  }
  .AboutUsTecHealth_iframe {
    width: 400px;
  }
  .AboutUsTecHealth_video {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {
  .AboutUsTecHealth_whatis {
    font-size: 26px;
  }
  .AboutUsTecHealth_paragraph {
    padding: 0px 30px;
    font-size: 16px;
  }
  .AboutUsTecHealth_historydiv {
    padding: 30px 30px;
  }
  .AboutUsTecHealth_history {
    height: 340px;
  }
  .AboutUsTecHealth_history_paragraph {
    font-size: 15px;
  }
  .AboutUsTecHealth_video {
    margin-top: 30px;
    height: 280px;
  }
  .AboutUsTecHealth_iframe {
    width: 340px;
  }
}
