.advantage_div{
    margin-top: 50px;
    padding-top: 20px;
    background: linear-gradient(235deg, #34a853, #0072c6);
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,123,214,0.989233193277311) 0%, rgba(0,212,255,1) 100%); */
  }
  .advantage_header{
      padding-bottom: 50px;
  }
  .advantage_heading{
      align-items:center;
      display: flex;
      justify-content: center;
      color: #fff;
      font-family: "Poppins", Sans-serif;
      font-size: 32px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding-top: 15px;
  }
  .advantage_subheading1{
      /* align-items:center; */
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 7px;
      margin-left: 14px;
      margin-right: 5px;
      color: #fff;
  }
  .advantage_subheading2{
      
      display: flex;
      justify-content: center;
      align-items:center;
      text-align: center; 
      margin-left: 20px;
      margin-right: 10px;
      color: #fff;
  }
  .advantage_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 40px;
    }
    
    .advantage_card {
      width: 300px;
      margin: 10px;
      padding: 20px;
      background-color: #ffffffc4;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(31, 243, 3, 0.1);
      text-align: center;
    }
    
    .card_image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    
    .card_title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    .card_description {
      font-size: 14px;
    }
    .advantage_card_image{
      max-width: 120px;
      max-height: 120px;
      margin: auto;
    }
    .advantage_imge{
      max-width: 120px;
      max-height: 120px;
    }
    .advantage_card_details{
      padding-top: 20px;
      text-align: center;
    }
    .advantage_card_d_heading{
      font-family: "Poppins", Sans-serif;
      font-size: 22px;
      font-weight: 700;
      text-transform: capitalize;
      color:black
    }
    .advanatage_cards_d_details{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
    font-weight: 549;
    line-height: 26px;
    color: #000000;
    }
  
  
  
    /* Responsive CSS */
    
    @media (max-width: 720px) {
      .advantage_cards {
        flex-direction: column;
        align-items: center;
      }
    
      .advantage_card {
        width: 90%;
      }
    }
    
    @media (max-width: 480px) {
      .card_image {
        height: 150px;
      }
    
      .advantage_heading {
        font-size: 20px;
      }
    
      .advantage_subheading1,
      .advantage_subheading2 {
        font-size: 16px;
      }
    
      .card_title {
        font-size: 16px;
      }
    
      .card_description {
        font-size: 12px;
      }
    }
  
  
    /* hover effect */
  
    .advantage_card:hover{
      border: 0.5px solid #034e10f1;
      transform: scale(1.04);
      z-index: 2;
      transition-duration: 500ms;
    }