@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    --primary-color: #0072c6;
    --secondary-color: #34a853;
    --black: #000000;
    --white: #fff;
}

.aboutus-chooseus_main__container {
    margin: 1.25rem auto;
    /* padding-inline: 0.2rem; */
    width: 100%;
    box-sizing: border-box;
    /* background-color: var(--primary-color); */
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 114, 198, 1) 29%, rgba(0, 212, 255, 1) 100%);
    color: var(--white);
    padding-block: 2.8rem;
    margin-top: 40px;
    margin-bottom: 0;

}

.aboutus-chooseus_header__container {
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.aboutus-chooseus_header__container h1 {
    font-weight: 600;
    font-size: clamp(28px, 2vw, 48px);
    
}

.aboutus-choose-us__logo_container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.aboutus-chooseus_logo-container__items {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    font-weight: bold;
    color: var(--white)
}

.aboutus-chooseus_logo-container__items p {
    padding-block: 1.3rem;
    padding-inline: 0.5rem;
    min-width: 130px;
    font-family: 'Poppins', sans-serif;
    margin-inline: 0.3rem;
}

.aboutus-chooseus_header__container p {
    font-size: clamp(16px, 2vw, 18px);
    padding-block: 1rem;
    text-align: center;
    margin-inline: 14rem;
}

/* media queries */

@media (max-width:769px) {
    .aboutus-chooseus_header__container p {
        margin-inline: 0.5rem;
        text-align: center;
        letter-spacing: 0.0175rem;
    }

}


@media (min-width:769px) and (max-width:1200px) {
    .aboutus-chooseus_header__container p {
        margin-inline: 1.5rem;
        text-align: center;
        letter-spacing: 0.0175rem;
    }
}