.make-us-para {
  text-align: justify;
}
.make-us-0 {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.make-us-heading {
  font-size: 2.1rem;
  color: #0072c6;
  font-weight: 600;
  margin-bottom: 1rem;
  
}

.make-us-para-1 {
  padding: 0 7rem;
}
@media screen and (max-width: 900px) {
  .make-us-para-1 {
    padding: 0 6rem;
  }
  
}

@media screen and (max-width: 479px) {
  .make-us-para-1 {
    padding: 0 2rem;
  }
  .make-us-para {
    text-align: center;
  }
}
