@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    --primary-color: #0072c6;
    --secondary-color: #34a853;
    --black: #000000;
    --white: #fff;
}

.ourteam-main__container {
    margin: 1.25rem auto;
    /* padding-inline: .3rem; */
    width: 100%;
    box-sizing: border-box;
    padding-block: 2.8rem;
    overflow: hidden;
    margin-top: -50px;
    
}

.ourteam-header__container {
    text-align: center;
    padding: 0.5rem;
    font-family: 'Poppins', sans-serif;
}

.ourteam-header {
    margin: 0 15rem;
}

.ourteam-header h5 {
    color: var(--primary-color);
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.ourteam-header h3 {
    color: var(--black);
    font-weight: 600;
    font-size: clamp(24px, 5vw, 32px);
    padding-bottom: 0.5rem;
}

.ourteam-header p {
    font-size: clamp(16px, 2vw, 18px);
}

/* image section */

.ourteam-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.image-item img {
    object-fit: cover;
    max-width: 12.5rem;
    height: auto;
    border-radius: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.image-item h5 {

    color: var(--primary-color);
    font-weight: 600;
}

.icons-container {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.icons-container svg {
    margin: 0 0.5rem;
    color: var(--secondary-color);
}

.icons-container svg :hover {
    color: var(--primary-color);
    cursor: pointer;
}

/* media queries */

@media (min-width:769px) and (max-width:1200px) {
    .ourteam-header {
        margin: 0 2rem;
    }
}

@media (max-width:769px) {
    .ourteam-header {
        margin: 0.5rem;
    }

    .ourteam-image__container img {
        display: flex;
        align-items: center;
    }

    .image-item {
        flex-basis: 100%;
        margin: 1rem 0;
    }
}

@media (min-width: 767px) and (max-width:850px) {
    .image-item {
        flex-basis: calc(100% / 3.5 - 3rem);
        margin: 1rem;

    }
}

@media (min-width: 851px) {
    .image-item {
        flex-basis: calc(100% / 5 - 3rem);

    }
}