.Insight {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
}
.Insight_Parent_Container {
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52vw;
  height: 23vh;
  margin: 10px 0 10px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(235deg,#34a853,#0072c6);
}
.Insight_Parent_Container:hover{
  background: linear-gradient(235deg,#0072c6,#34a853);
}

.Insight_Heading {
  font-size: 40px;
  font-weight: bold;
  color: #0072c6;
}
.Insight_Heading:hover{
  letter-spacing: 0.1rem;
  transform: scale(1.2);
    transition: .5s;
}
.Insight_Subheading {
  font-size: 20px;
}
.Insight_Content_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 500px;
  text-align: center;
  cursor: pointer;
}

.Insight_Content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  border-radius: 5px;
  width: 180px;
}

.Insight_Content_Heading {
  font-weight: bold;
}
.Insight_Content_Description {
  font-size: 16px;
  color: white;
}
.Insight_Content_Description:hover{
  transform: scale(1.4);
    transition: .5s;
}

.Insight_Content_Heading {
  color: white;
}
.Insight_Content_Heading:hover{
  transform: scale(1.2);
    transition: .5s;
}
.Insight_LessThan {
  color: #34a853;
}

/* responsive */

@media only screen and (max-width: 1180px) {
  .Insight_Parent_Container {
    width: 53vw;
    height: 48vh;
  }
  .Insight_Heading {
    font-size: 38px;
  }
  .Insight_Subheading {
    font-size: 20px;
  }
  .Insight_Content_Container {
    gap: 65px;
  }
}

@media only screen and (max-width: 896px) {
  .Insight_Parent_Container {
    height: 100%;
    width: 100%;
  }

  .Insight_Content {
    width: 195px;
  }
}

@media only screen and (max-width: 667px) {
  .Insight_Content_Container {
    display: flex;
    flex-direction: column;
  }
  .Insight_Parent_Container {
    width: 63vw;
    height: 69vh;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .Insight_Heading {
    font-size: 38px;
  }
  .Insight_Subheading {
    font-size: 16px;
  }
}

