.service-main-container {
  margin-block: 30px;
}
.service-image-body {
  padding-inline: 2rem;
}
.service-image-0 {
  background-color: #0072c6;
  position: relative;
}

.service-imgg {
  width: 100%;
  height: 100%;
  position: relative;
  top: 12px;
  left: 12px;
}

.service-main-heading {
  font-size: 2.1rem;
  font-weight: bold;
  color: #0072c6;
  text-align: center;
  margin-bottom: 1rem;
}
.service-main-heading1 {
  color: #34a853;
  text-decoration: underline;
  /* text-decoration-thickness: 2px; */
  text-underline-offset: 7px;
}
.service-para-1 {
  color: #34a853;
  /* font-weight: bold; */
}

@media (max-width: 1000px) {
  .service-image-body {
    margin-bottom: 2rem;
  }
  .service-image-content {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  .service-main-heading {
    font-size: 1.9rem;
  }
}
